a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    color:#7FB3D5 ;
}
a:hover{
    font-family: 'Courier New', Courier, monospace;
    font-size: 23px;
    color: #BC6446 ;
    background-color: #F2CD78;
}
body{
    font-family: 'Courier New', Courier, monospace;
    font-size: 23px;
    color: #BC6446 ;
    background-color:#ffffff ;
}